* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(55, 61, 66);
    height: 10vh;
    padding-top: 10px;
}

header h1 {
    border: 10%;
    background-color: lightblue;
    color: rgb(52, 60, 68);
    width: 30%;
    padding: .8%;
    text-align: right;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -6vh;

}

ul li {
    list-style-type: none;
    padding: 10px 30px;
}

a, a:visited {
    border-bottom: 2px solid lightblue;
    text-decoration: none;
    color: lightblue;
}

a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px lightblue;
}
