:root {
    --light: lightblue;
    --bg-colordark: rgb(55,61,66)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-colordark);
    padding: 10px 0px;
}

header h1 {
    font-size: 50px;
    background-color: var(--light);
    color: var(--bg-colordark);
    padding: 15px;
    width: 50%;
}

.navigation {
    display: flex;
    justify-content: flex-end
}

.navigation li {
    list-style-type: none;
    padding: 10px 15px;
}

.navigation li a, .navigation li a:visited {
    padding: 5px;
    border-bottom: 2px solid var(--light);
    text-decoration: none;
    color: lightblue;
}

.navigation li a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px var(--light);
}

#resume {
    margin-right: 30px;
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./fhEwl.png);
    background-size: cover;
    background-position: top;
}


section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3%;
}

section h2 {
    flex: 0 0 20%;
    width:20%;
    font-size: 50px;
    border-right: 5px solid var(--bg-colordark);
    color: var(--bg-colordark);
    text-align: right;
    padding: 10px 20px;    
}

p {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin-left: 11px;
}

#selfie {
    margin-left: 25px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 3px solid black;
    text-align: center;
    height: 40vh;
    width: 40vh;
    margin: 3%;
    background-image: url(./fhEwl.png);
    text-shadow: 0px 0px 10px black;

}

#myBtn {
    background: none;
    border:none;
    padding:0;
    text-shadow: 0px 0px 10px black; 
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }

  .modal-content a {
    list-style-type: none;
    padding: 5px 15px;
    margin: 10px;
    border-bottom: 2px solid var(--bg-colordark);
    text-decoration: none;
    color: var(--bg-colordark);
  }

  .modal-content a:hover {
    cursor: pointer;
    text-shadow: 0 0 20px var(--bg-colordark);
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#project-1{
    background-image: url(./Main\ Page\ Screenshot.jpeg);
    background-position: center top;
    background-repeat: none;
    background-size: cover;
}

#project-2{
    background-image: url(./Screen\ Shot\ 2022-04-18\ at\ 10.18.44\ PM.png);
    background-position: center top;
    background-repeat: none;
    background-size: cover;
}

#project-3{
    background-image: url(./Screen\ Shot\ 2022-04-18\ at\ 10.47.54\ PM.png);
    background-position: center top;
    background-repeat: none;
    background-size: cover;
}

#project-4{
    background-image: url(./Screen\ Shot\ 2022-05-17\ at\ 6.57.26\ PM.png);
    background-position: center top;
    background-repeat: none;
    background-size: cover;
}

.card:hover, .card:hover {
    box-shadow: 5px 5px 20px 5px inset var(--bg-colordark);
    transition: box-shadow 1s ease;
    cursor: pointer;
}

.card:active {
    box-shadow: 5px 5px 20px 5px inset var(--light);
    transition: box-shadow .01s;
}

.contactcontainer {
    width: auto;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    padding-left: 25px;
}

.contactcontainer a, .contactcontainer a:visited {
    text-decoration: none;
    color: var(--bg-colordark);
    border-bottom: 2px solid var(--bg-colordark);
    padding-bottom: 5px;
    margin: 20px;
}

.contactcontainer a:hover {
    cursor: pointer;
    text-shadow: 0 0 20px var(--bg-colordark);
}

section nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




@media screen and (max-width:768px) {
    body {
        min-width: 100%;
    }

    header {
        padding: 0px;
        height: 18vh;
    }

    header h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 300%;
        padding: 15px;
    }

    .navigation{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-bottom: 10px;
    }

    #resume {
        margin-right: 0;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .pcontainer {
        text-align: center;
    }

    section > h2 {
        min-width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        border-right: none;
        border-bottom: 5px solid var(--bg-colordark);
        margin-bottom: 10px;
    }
    
    .cardcontainer {
        display: flex;
        justify-content: center;
    }

    .contactcontainer {
        padding: 0;
    }

    .contactcontainer a {
    margin: 10px;
    }
}

@media screen and (max-width:480px) {
    body {
        min-width: 100%;
    }

    header {
        padding: 0px;
        height: 35vh;
    }

    header h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 300%;
        padding: 15px;
    }

    .navigation{
        display: flex;
        flex-wrap: wrap;;
        justify-content: center;
     } 

    .subtitle {
        position: absolute;
        left: 20%;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .pcontainer {
        text-align: center;
    }

    .h2 {
        min-width: 100%;
        display: flex; 
        justify-content: center;
        border-right: none;
        border-bottom: 5px solid var(--bg-colordark);
        margin-bottom: 10px;
        padding: 0;
    }
    
    .cardcontainer {
        display: flex;
        justify-content: center;
    }

    .contact {
        display: flex;
        justify-content: center;
        left: 28%;
    }

} 